.bigCounter {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
  font-size: 5rem;
}

.bigCounter div {
  display: inline-block;
  background: #202020;
  padding: 30px;
  margin: 3px;
}
